<div class="container-fluid px-4 mt-5">
    <div class="mt-4">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center">
                <h1 class="mt-4">MANTENIMIENTO DE EMPRESAS</h1>
            </div>
            <div class="card-body">


                <form [formGroup]="myFormFilter">
                    <div class="card bg-light mb-3"> 
                        <div class="card-header">BÚSQUEDA</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="">RUC</label></div>
                                        <input formControlName="ruc" type="text" class="form-control">
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="">Razón social</label></div>
                                        <input formControlName="razonSocial" type="text" class="form-control">
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="">Telefono</label></div>
                                        <input formControlName="telefono" type="text" class="form-control">
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="">Contacto</label></div>
                                        <input formControlName="contacto" type="text" class="form-control">
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="">Email</label></div>
                                        <input formControlName="email" type="text" class="form-control">
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <br>
                                        <button (click)="filtrar()" class="btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
                                        <button class="btn btn-danger btn-sm"><i class="fas fa-broom"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>RUC</th>
                            <th>Razón social</th>
                            <th>Telefono</th>
                            <th>Contacto</th>
                            <th>Email</th>
                            <th><button (click)="crearEmpresa(modalEdit)" class="btn btn-sm btn-success">
                                <i class="fas fa-plus"></i>
                            </button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empresa of empresas">
                            <td>{{empresa.id}}</td>
                            <td>{{empresa.ruc}}</td>
                            <td>{{empresa.razonSocial}}</td>
                            <td>{{empresa.telefono}}</td>
                            <td>{{empresa.contacto}}</td>
                            <td>{{empresa.email}}</td>
                            <td>
                                <button (click)="editarEmpresa(modalEdit,empresa)" class="btn btn-sm btn-primary">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button (click)="eliminarRegistro(empresa.id)"  class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="row">
                    <div class="col-xs-8 col-10">
                        <pagination (pageChanged)="changePage($event)" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [previousText]="'Anterior'" [nextText]="'Siguiente'">
                        </pagination> 
                    </div>
                    <div class="col-xs-2 col-2">
                        <select (change)="changeItemsPerPage()" [(ngModel)]="itemsPerPage" class="form-select">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
    
                    </div>
                </div>

            </div>
          </div>
          
    </div>
</div>



<ng-template #modalEdit>
    <app-mant-empresas-register
    [title]="titleModal"
    [empresa]="empresaSelected"
    [accion]="accionModal"
    (closeModalEmmit)="getCloseModalEmmit($event)"
    ></app-mant-empresas-register>
  </ng-template>