<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <!-- (click)="modalRef?.hide()" -->
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm">
        <div class="row">
            <div class="col-3 mt-3">
                <div class="form-group">
                    <label for="">ID</label>
                    <input formControlName="id" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-3 mt-3">
                <div class="form-group">
                    <label for="">Código</label>
                    <input formControlName="codigo" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-3 mt-3">
                <div class="form-group">
                    <label for="">Calificación</label>
                    <input formControlName="calificacion" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-3 mt-3">
                <div class="form-group">
                    <label for="">Stock</label>
                    <input formControlName="stock" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input formControlName="nombre" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="form-group">
                    <label for="">Categoria</label>
                    <select class="form-select">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="form-group">
                    <label for="">Foto</label>
                    <input formControlName="foto" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-5 mt-3">
                <div class="form-group">
                    <label for="">Marca</label>
                    <input formControlName="marca" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-5 mt-3">
                <div class="form-group">
                    <label for="">Modelo</label>
                    <input formControlName="modelo" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-4 mt-3">
                <div class="form-group">
                    <label for="">Precio de compra</label>
                    <input formControlName="precioCompra" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-4 mt-3">
                <div class="form-group">
                    <label for="">Precio de venta</label>
                    <input formControlName="precioVenta" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="">Descripción de la categoria</label>
                    <input formControlName="descripcion" type="text" class="form-control" placeholder="Ingrese la descripción">
                </div>
                <!-- <div *ngIf="myForm.get('descripcion')?.errors && myForm.touched">
                    <small class="text-danger" *ngIf="myForm.get('descripcion')?.hasError('required')" >Campo requerido</small>
                    <small class="text-danger" *ngIf="myForm.get('descripcion')?.hasError('email')" >No cumple con el formato de correo</small>
                </div> -->
                <!-- myForm.get('aquí se pone el formControlName') y si se realiza la validación de email, aumentar o verificar en el ts -->
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="">Estado</label>
                    <input formControlName="estado" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-6 mt-3"> 
                <div class="d-grid gap-2">
                    <button [disabled]="myForm.invalid " (click)="guardar()" class="btn-block btn-primary btn-sm">Guardar</button>
                </div>
            </div>
            <div class="col-6 mt-3"> 
                <div class="d-grid gap-2">
                    <button class="btn-block btn-danger btn-sm">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
  </div>